@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: black;
}
.back {
  background-color: #274463;
  display: flex;
  box-sizing: border-box;
  height: 100%;
}
.menu {
  width: 15%;
  height: 100vh;
  /* border-radius: 23px; */
}
.content {
  background-color: #ffffff;
  border-radius: 23px;
  width: 85%;
  height: 100vh;
  margin: 10px;
  /* box-sizing: border-box; */
}
.content-inside {
  margin: 20px;
}
.upper-box {
  text-align: right;
}
fieldset > legend {
  font-size: 14px;
  font-weight: bolder;
  color: #274463;
}
fieldset > legend > label {
  font-size: 12px;
  font-weight: bold;
  color: #274463;
}
button {
  font-size: 14px;
  font-weight: normal;
  color: #f4f4f4;
  background-color: #274463;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}
button:hover {
  background-color: #0047ba;
}
a {
  color: #0047ba;
  text-decoration: none;
  margin-right: 20px;
}
select {
  height: 34px;
}
.middle-box {
  display: flex;
  margin: 20px 0px;
}
fieldset {
  width: 33.33%;
  box-sizing: border-box;
}
.time-period {
  width: 66.66%;
  box-sizing: border-box;
}
.plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 33.33%;
}
.plan > label {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
  width: 48%;
}
.plan > input[type="radio"] {
  margin-right: 10px;
}
span {
  flex: 1;
}

.search {
  text-align: right;
}
.medium {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
  width: 100%;
}
.dmiddle-main {
  width: 80%;
}
.dmiddle {
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}
.dmiddle2 {
  margin: 0px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}

.filter {
  float: right;
}
.ag-theme-alpine {
  width: 100%;
  margin-top: 65px;
}
.select-action {
  font-size: 14px;
  font-weight: normal;
  color: #f4f4f4;
  background-color: #274463;
  border-radius: 15px;

  box-sizing: border-box;
}
.ag-theme-alpine .ag-header {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  
  background-color: #274463;
}
.ag-header-cell.my-header-class {
  color: #f4f4f4;
  height: 45px;
}